.card {
  background-color: white;
  width: clamp(80px, calc(60px + 10vw), 130px);
  height: clamp(80px, calc(60px + 10vw), 130px);
  border: 3px solid var(--primary-color);
  border-radius: 18px;
  object-fit: cover;
}
