.skillImg {
  width: clamp(10px, calc(60px + 10vw), 40px);
  height: clamp(10px, calc(60px + 10vw), 40px);
  object-fit: cover;
  padding: 0;
}
.skillBadge {
  flex: 1 1 200px; /* Flex-grow, flex-shrink, and base width */
  min-width: 200px; /* Minimum width for each badge */
  max-width: 400px; /* Optional max-width to keep badges from getting too large */
}

