.smIcon a {
  text-decoration: none;
  width: clamp(2.1rem, calc(2rem + 1vw), 3rem);
  height: clamp(2.1rem, calc(2rem + 1vw), 3rem);
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
  margin: 5px;
}

.smIcon a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.smIcon:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: clamp(1.5rem, calc(1.5rem + 0.5vw), 2rem);
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.smIcon a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.smIcon:nth-child(1) {
  --bg-color: black;
}
.smIcon:nth-child(2) {
  --bg-color: #0077b5;
}
.smIcon:nth-child(3) {
  --bg-color: #2682c4;
}
.smIcon:nth-child(4) {
  --bg-color: #d57b8a;
}
