html {
  scroll-behavior: smooth;
  scroll-padding-top: clamp(60px, calc(40px + 5vh), 60px);
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: clamp(16px, calc(0.5rem +1vw), 22px);
  color: white;
  background: rgb(17 24 39);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove horizontal scrollbar height */
}

body::-webkit-scrollbar-thumb {
  background: transparent; /* Ensure no scrollbar thumb is visible */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Satoshi", "sans-serif";
  text-transform: uppercase;
  margin: 0;
}

.text-soft-blue {
  color: rgb(157 249 217);
}

.bg-soft-blue {
  background: rgb(157 249 217);
}

a {
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .w-md-75 {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }
}
