.links {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.links:hover {
  color: rgb(150, 150, 150);
}

.projectCard img,
.projectCard video {
  object-fit: cover; /* Ensures images/videos fit within bounds */

}
