.skillImg {
  width: clamp(10px, calc(60px + 10vw), 40px);
  height: clamp(10px, calc(60px + 10vw), 40px);
  object-fit: cover;
  padding: 0;
}
.skillBadge {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 400px;
}

