.skillImg {
  width: clamp(10px, calc(60px + 10vw), 40px);
  height: clamp(10px, calc(60px + 10vw), 40px);
  object-fit: cover;
  padding: 0;
}
.skillBadge {
  width: 400px;
}

.skillBadge:hover  {
  animation: animation .2s forwards;
}

@keyframes animation {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

